# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
pubspec.log


# Flutter-specific
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.flutter-plugins
generated_plugin_registrant.dart

# Android
android/.gradle/
android/.idea/
android/local.properties
android/.idea

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/.symlinks/
ios/Pods/
ios/Podfile.lock
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.dart_tool/
ios/build/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/Podfile.lock
macos/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Windows
windows/flutter/ephemeral/
windows/build/

# Web
web/.dart_tool/
web/build/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# Others
*.log
*.tmp
*.lock
*.DS_Store
.idea
.vscode
.gradle


.env